# If this file is called installer.properties and in the same directory as the
# installer, it will be automatically used when the installer is run.  If
# it is called something different or in a different directory, it can be
# used by passing it with the -f option to the installer.
INSTALLER_UI=SILENT

# Specify the directory to install to.
USER_INSTALL_DIR={{mdss_install_path}}

# Specify which install set to use.
# Valid Values: Full, MgmtStation, HostOnly, Custom
# The install sets include the following features:
#  Full - Management Station, Host
#  MgmtStation - Management Station
#  HostOnly - Host
#  Custom - Specify which features you want to install via the
#           CHOSEN_INSTALL_FEATURE_LIST variable below.
CHOSEN_INSTALL_SET=Full

# Specify which individual features you want to install.  Setting this
# variable will force the install set above to 'Custom' and only the features
# specified here will be installed.  This variable must remain commented if you
# wish to specify an install set as opposed to individual features.
# Valid values: MGMT (Management Station), HOST (Host Software)
#CHOSEN_INSTALL_FEATURE_LIST=MGMT,HOST

# Specify which array models will be managed by this management station
# or accessed (in-band) by this host server.
# Only used and is mandatory if
# 1. CHOSEN_INSTALL_SET is either Full or HostOnly.
# OR
# 2. If CHOSEN_INSTALL_SET is custom and CHOSEN_INSTALL_FEATURE_LIST contains
# HOST as one of the features.
#
# Valid values are: MD36x0f,MD36x0i,MD32x0i,MD32x0,MD3000,MD3000i
# NOTE: The MD36x0f cannot be specified with any other value.
#
MD_INSTALL_MODEL={{mdss_install_model}}

# Specify whether or not the Modular Disk Configuration Utility should be
# automatically run the first time the system is rebooted.  Only used if
# MD_INSTALL_MODEL is set and contains any iSCSI model.
# Valid values: YES or NO
AUTO_START_MDCU=NO

# Specify whether to reboot the system when the installation completes.
# Valid values: YES or NO
# This has a limitation in that the auto-reboot does NOT work for the uninstall (InstallAnywhere bug).
# If the host software (specifically the failover driver) was removed during the uninstall, the system will
# need to be manually rebooted.
USER_REQUESTED_RESTART=NO
